TKG_BINDIRECTORY="/shome/clange/Phase2UpgradeStudies/tkgeometry/bin"
TKG_LAYOUTDIRECTORY="/shome/clange/Phase2UpgradeStudies/tkgeometry/www/layouts"
TKG_STANDARDDIRECTORY="/shome/clange/Phase2UpgradeStudies//tkgeometry"
TKG_MOMENTA="1.00, 10.00, 100.00, 500.00, 1000.00"
TKG_TRIGGERMOMENTA="1.00, 10.00, 100.00, 500.00, 1000.00"
TKG_THRESHOLD_PROB="0.01, 0.50, 0.90, 0.95"
